<div class="container py-4">
  <h3 class="mb-4 fw-bold text-center">Event Details</h3>

  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="row g-4">
      <div class="col-md-6">
        <label class="form-label">Event Name</label>
        <input class="form-control" formControlName="name" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Date & Time</label>
        <input type="datetime-local" class="form-control" formControlName="dateTime" />
      </div>

      <div class="col-12">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="3" formControlName="description"></textarea>
      </div>

      <div class="col-md-4">
        <label class="form-label">Total Seats</label>
        <input type="number" class="form-control" formControlName="totalSeats" />
      </div>

      <div class="col-md-4">
        <label class="form-label">Price</label>
        <input type="number" class="form-control" formControlName="price" />
      </div>

      <h4 class="sub-heading mt-4">Location Details</h4>
        <div formGroupName="location">
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Venue Name</label>
                    <input class="form-control" formControlName="name" />
                    </div>
                    <div class="col-md-6">
                    <label class="form-label">Locality</label>
                    <input class="form-control" formControlName="locality" />
                    </div>
                    <div class="col-md-6">
                    <label class="form-label">City</label>
                    <input class="form-control" formControlName="city" />
                    </div>
                    <div class="col-md-6">
                    <label class="form-label">State</label>
                    <input class="form-control" formControlName="state" />
                </div>
            </div>
        </div>


      <div class="col-12 d-flex justify-content-center align-items-center gap-2 mt-5">
        <button
            *ngIf="!isEditMode"
            type="button"
            class="btn btn-outline-primary"
            (click)="toggleEdit()"
        >
            Edit
        </button>
        <button
            *ngIf="isEditMode"
            type="submit"
            class="btn btn-primary"
            [disabled]="isSubmitting || eventForm.invalid"
        >
            {{ isSubmitting ? 'Updating...' : 'Update' }}
        </button>
        <button
            *ngIf="isEditMode"
            type="button"
            class="btn btn-secondary"
            (click)="toggleEdit()"
        >
            Cancel
        </button>
    </div>

    </div>
  </form>

  <div *ngIf="successMessage" class="alert alert-success mt-3 text-center">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
    {{ errorMessage }}
  </div>
</div>
